<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>App</title>

</head>

<body>

    <div id="root">
        <form>
            <span>
                Se connecter
            </span>
            <br />
            <input type="text" id="email" name="email" placeholder="Email">
            <span class="focus-input100"></span>
            <br />
            <input type="password" id="pass" name="pass" placeholder="Password">
            <span class="focus-input100"></span>
            <br />
            <input name="bouton_terminer" type="button" value="Terminer"
                   onclick="RedirectionJavascript()">
        </form>
    </div>

    <script>
        const app = document.getElementById('root')

        function RedirectionJavascript() {
            var request = new XMLHttpRequest()

            var mail = document.getElementById('email').value;
            var pwd = document.getElementById('pass').value;

            request.open('GET', "http://localhost:64228/api/user/" + mail + "/" + pwd, true)
            request.onload = function () {
                // Begin accessing JSON data here
                var data = JSON.parse(this.response);
                if (request.status >= 200 && request.status < 400) {
                    data.forEach(element => {
                        app.remove();
                        var userid = element.IdUser
                        var request2 = new XMLHttpRequest()
                        request2.open('GET', "http://localhost:64228/api/Bills/" + userid, true)
                        request2.onload = function () {
                            // Begin accessing JSON data here
                            var data2 = JSON.parse(this.response);
                            if (request2.status >= 200 && request.status < 400) {
                                data2.forEach(bills => {
                                    const card = document.createElement('div')
                                    card.setAttribute('class', 'card')

                                    const h1 = document.createElement('h1')
                                    h1.textContent = bills.bill_date

                                    //const p = document.createElement('p')
                                    //movie.description = movie.description.substring(0, 300)
                                    //p.textContent = `${movie.description}...`

                                    container.appendChild(card)
                                    card.appendChild(h1)
                                    card.appendChild(p)
                                })
                            }
                            else {
                                console.log('error')
                            }
                        })
                }
                else {
                    console.log('error')
                }
            }

            request.send()
        }
    </script>
</body>
</html>
